*.pdf

# Python
__pycache__
.venv
.env


### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


.vercel

.vscode
.env*.local


*.log
grades_2026-01-26.json
Doku_Serafino.typ
W01_Moling_NotenAPIfrontend.txt
screenshots/
