{% extends "base.html" %}
{% block title %}Anmeldung{% endblock title %}
{% block content %}
<h1>Anmeldung</h1>
<form action="/login" method="post">
  <label for="username">Benutzername:</label>
  <input
    type="text"
    id="username"
    name="username"
    required
    value="{% if username %}{{ username }}{% endif %}"
  />
  <label for="password">Passwort:</label>
  <input
    type="password"
    id="password"
    name="password"
    required
    value="{% if password %}{{ password }}{% endif %}"
  />
  <button type="submit">Anmelden</button>
</form>
<a href="/register">Registrieren</a>
<div>
  <p class="{% if error %}error{% endif %}">{% if message %}{{ message }}{% endif %}</p>
</div>
<style>
  .error {
    color: red;
  }
</style>
{% endblock content %}
