{% extends "base.html" %} {% block content %}
<h1>Register</h1>
<form action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required value="{% if username %}{{ username }}{% endif %}" />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required value="{% if password %}{{ password }}{% endif %}" />
    <button type="submit">Register</button>
</form>
<div>
    <p class="{% if error %}error{% endif %}">{% if message %}{{ message }}{% endif %}</p>
</div>
<style>
    .error {
        color: red;
    }
</style>
{% endblock content %}