{% extends "base.html" %}
{% block title %}{{ subject.name }}{% endblock title %}
{% block content %}
<h1>{{ subject.name }}</h1>

<div>
    <h3>Fachdetails</h3>
    <table>
        <tr>
            <th>Bezeichnung</th>
            <td>{{ subject.name }}</td>
        </tr>
        <tr>
            <th>Durchschnitt</th>
            <td>{{ subject.average }}</td>
        </tr>
        <tr>
            <th>Anzahl Prüfungen</th>
            <td>{{ subject.num_exams }}</td>
        </tr>
        <tr>
            <th>Pluspunkte</th>
            <td>{{ subject.plus_points }}</td>
        </tr>
    </table>
</div>

<h2>Prüfungen</h2>
<table>
    <thead>
        <tr>
            <th>Datum</th>
            <th>Details</th>
            <th>Note</th>
            <th>Gewichtung</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ exam.date }}</td>
            <td>{{ exam.details }}</td>
            <td>{{ exam.grade }}</td>
            <td>{{ exam.weight }}</td>
            <td>{{ exam.id }}</td>
            <td style="display:none;">
                <input type="hidden" value="{{ exam.id }}">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}